@charset "utf-8";
/* Define a codificação do documento como UTF-8, garantindo suporte a caracteres especiais */

/* Estilos para o cabeçalho */
.header{
	/* Exibe o header como um flex container, distribuindo os itens de maneira flexível */
	display: flex; 
	justify-content: space-between; /* Distribui os itens com espaçamento entre eles */
	align-items: center; /* Alinha verticalmente os itens ao centro */
	padding: 40px 20px; /* Adiciona padding de 40px em cima e embaixo e 20px nos lados */
	max-width: 1160px; /* Define uma largura máxima para o header, evitando que ele fique muito largo em telas grandes */
	margin: 0 auto; /* Centraliza o header horizontalmente, com margem automática à esquerda e direita */
}

/* Estilos para o menu dentro do header */
.header-menu{
	display: flex; /* Exibe o menu como um flex container */
	gap: 40px; /* Adiciona 40px de espaçamento entre os itens do menu */
	flex-wrap: wrap; /* Permite que os itens do menu quebrem para a linha seguinte em telas menores */
	justify-content: center; /* Centraliza os itens do menu */
}

/* Estilo para o efeito hover nos links do menu */
.header-menu a:hover{
	text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
	text-decoration-color: #A88213; /* Define a cor do sublinhado */
	text-decoration-style: double; /* Define o estilo do sublinhado como duplo */
}

/* Estilos para telas menores que 690px */
@media (max-width: 690px){
	.header {
      display: flex; 
	  flex-direction: column; /* Organiza os itens do header em uma coluna */
	  gap: 40px; /* Adiciona 40px de espaçamento entre os itens */
  }

	.header a{
		background: #F9EAEA; /* Define o fundo do link com uma cor suave */
		border-radius: 6px; /* Arredonda os cantos do link */
		padding: 10px 20px 10px 20px; /* Adiciona padding ao redor do link */
	}
	
	.fd-logo a{
		background: #ffffff; /* Define o fundo do link da logo como branco */
	}
}

/* Estilos para telas menores que 360px */
@media (max-width: 360px){
	.header {
      display: flex; 
	  flex-direction: column; /* Organiza os itens do header em uma coluna */
	  gap: 20px; /* Reduz o espaçamento entre os itens para 20px */
	}
	
	.header-menu{
		gap: 20px; /* Reduz o espaçamento entre os itens do menu */
	}

	.header a{
		background: #F9EAEA; /* Define o fundo do link como uma cor suave */
		border-radius: 6px; /* Arredonda os cantos do link */
		font-size: 16px; /* Reduz o tamanho da fonte */
		padding: 5px 10px 5px 10px; /* Ajusta o padding do link */
	}
	
	.fd-logo a{
		background: #ffffff; /* Define o fundo do link da logo como branco */
	}
}
