@charset "utf-8";
/* Define a codificação do documento como UTF-8, garantindo suporte a caracteres especiais */

/* Estilos para a seção de introdução */
#introducao{
	background-image: url("../../img/slider.jpg"); /* Define a imagem de fundo para o elemento */
	display: flex; /* Usa flexbox para organizar os elementos */
	justify-content: center; /* Centraliza os elementos dentro do container */
	background-position: center; /* Centraliza a imagem de fundo */
	background-size: cover; /* Faz a imagem de fundo cobrir todo o espaço disponível, adaptando para diferentes tamanhos de tela */
	height: 600px; /* Define a altura da seção */
}

/* Estilos para o título na seção de introdução */
.introducao-texto h1{
	display: grid; /* Usa grid layout para organizar o título */
	grid-template-columns: 1fr 1fr; /* Cria duas colunas iguais para o título */
}

/* Estilos para telas menores que 690px */
@media (max-width:690px){
	#introducao{
		height: 300px; /* Reduz a altura da seção de introdução em telas menores */
	}
	
	.introducao-texto h1{
		display: grid; /* Mantém o grid layout para o título */
		grid-template-columns: 1fr 1fr; /* Continua com duas colunas para o título */
		font-size: 46px; /* Reduz o tamanho da fonte do título para 46px */
	}
}

/* Estilos para telas menores que 415px */
@media (max-width:415px){
	.introducao-texto h1{
		font-size: 41px; /* Reduz ainda mais o tamanho da fonte do título para 41px em telas pequenas */
	}
}
